@import "tailwindcss";
@plugin "daisyui";




/* .btn-primary {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px 18px;
  border-radius: 12px;
  background: linear-gradient(to right, #a855f7, #d946ef, #ec4899);
  color: white;
  font-weight: 500;
  transition: 0.3s;
} */

/* .btn-primary:hover {
    background: linear-gradient(to left, #a855f7, #d946ef);
} */

/* .btn-outline {
  padding: 12px 18px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: white;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  transition: 0.3s;
} */
/* 
.btn-outline:hover {
  background: rgba(255, 255, 255, 0.1);
} */

/* .social-icon {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: white;
  transition: 0.3s;
}

.social-icon:hover {
 background: linear-gradient(to right, #a855f7, #d946ef, #ec4899);
} */

/* .container {
  @apply max-w-7xl mx-auto px-4 md:px-8;
} */

/* .skill-badge {
  @apply px-4 py-2 rounded-full bg-purple-500/10 border border-purple-400/20 text-sm text-gray-300;
} */

.skill-badge {
  @apply px-3 py-1.5 rounded-full bg-purple-500/10 text-purple-300 
         text-sm font-medium border border-purple-400/30 
         transition-all duration-300 hover:scale-105 
         hover:bg-purple-500/20 hover:border-purple-400/60 
         cursor-default;
};

@keyframes floating {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-12px);
  }

  100% {
    transform: translateY(0px);
  }
}

.hero-image {
  animation: floating 3s ease-in-out infinite;
}

/* lenis  */
html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}